# deadman.conf

# shutdown: bool (default true)
# Whether or not to attempt a shutdown when commands are run
shutdown = true

# pollInterval: integer (default 1000)
# The polling interval to use for USB insertion removal (in ms)
# Recommend values between 500 and 1000 for now
pollInterval = 1000

# shutdownTimeout: integer (default 10000)
# The time (in ms) after which commands (if specified) will be abandoned and
# shutdown will commence.
shutdownTimeout = 5000

# commands string[]
# The commands to be run
# These will be run, in order, and then shutdown will be called (if configured)
# Commands prefixed with an exclamation mark (!) will be run in parallel,
# without waiting for them to finish first, but not started until any
# non-parallel commands before them have finished. Thus, in the following
# configuration:
#
# commands = [
#    "!backgroundcmd1",
#    "normalcommand foo bar",
#    "!backgroundcmd2 foo",
#    "!backgroundcmd3 bar"
# ]
#
# backgroundcmd1 will run and normalcommand will start immediately. As soon
# as normalcommand has finished, backgroundcmd2 and backgroundcmd3 will be run
# concurrently. When all parallel commands have reported in, shutdown will
# commence

#commands = [
#]
